{% extends "base.twig" %}
{% block style %}
	<link rel="stylesheet" href="/css/dashboard/style.css">
{% endblock %}

{% block main %}
	<section class="hero-section">
		<div class="tools-animation">
			<div class="book">
				<img src="/image/reparation.png" alt="">
			</div>
			<div class="pencil">
				<img src="/image/marteau.png" alt="">
			</div>
			<div class="computer">
				<img src="/image/tournevis.png" alt="">
			</div>
		</div>
		<h2 class="hero-title">Bienvenue sur notre site de tutoriel !</h2>
		<p class="hero-description">Apprenez de nouvelles compétences et développez vos connaissances avec nos tutoriels faciles à suivre.</p>
	</section>


{% endblock %}
