{% extends "base.twig" %}

{% block style %}
    <link rel="stylesheet" href="/css/home/home.css">
{% endblock %}

{% block main %}
	<div class="container">
		<h1>Le monde de TuTools
			<br>
			Vous tend les bras.
		</h1>
	</div>
	<div class="buttonsPage">
		<a href="./inscription" class="button"><img src="/image/create.png" alt="create">Inscription</a>
		<a href="./login" class="button"><img src="/image/login.png" alt="login">Login</a>
	</div>

{% endblock %}